.affiliate {
  background-color: white;
  color: black;
}




/* Glass Card */
.glass-card {
  background: var(--card-bg);
  backdrop-filter: blur(12px);
  border: 1px solid var(--card-border);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(255, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.glass-card:hover {
  transform: translateY(-5px);
  border-color: rgba(255, 255, 255, 0.15);
}

/* Buttons */
.btn-primary {
  background: var(--gradient);
  color: rgb(255, 0, 0);
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}
.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.4);
}

/* Inputs */
.input-field {
  width: 100%;
  background: rgba(190, 190, 190, 0.3);
  border: 1px solid var(--card-border);
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: border 0.3s;
}
.input-field:focus {
  outline: none;
  border-color: var(--primary);
}

/* Sections */
section { padding: 6rem 0; }
.section-title {
  color: red;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #ff1b35, #ff7b7b);;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-subtitle {
  text-align: center;
  color: #636363;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}

/* Specific grids */
.grid-2 { display: grid; grid-template-columns: 1fr 1fr; gap: 2rem; align-items: center; }
@media (max-width: 768px) { .grid-2 { grid-template-columns: 1fr; } }


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Scroll Reveal Classes */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
  color: #636363;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
  color: black;
}
